In [5]:
import numpy as np
import pandas as pd
from pathlib import Path

In [6]:
DATA_ROOT = Path("dataset")

# bitcoin-historical-data test

In [7]:
DS_DIR = DATA_ROOT / "bitcoin-historical-data"
df = pd.read_csv(DS_DIR / "btcusd_1-min_data.csv")

In [8]:
df.head(5)

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0

In [9]:
df.iloc[-10:]

            Timestamp      Open      High       Low     Close    Volume
6750271  1.737936e+09  102885.0  102885.0  102761.0  102761.0  0.273798
6750272  1.737936e+09  102752.0  102755.0  102555.0  102565.0  8.810395
6750273  1.737936e+09  102550.0  102587.0  102522.0  102587.0  1.116253
6750274  1.737936e+09  102581.0  102581.0  102450.0  102518.0  6.849513
6750275  1.737936e+09  102518.0  102559.0  102506.0  102558.0  0.771165
6750276  1.737936e+09  102628.0  102669.0  102608.0  102611.0  0.086742
6750277  1.737936e+09  102659.0  102712.0  102657.0  102712.0  0.488757
6750278  1.737936e+09  102631.0  102631.0  102573.0  102573.0  0.126719
6750279  1.737936e+09  102573.0  102604.0  102507.0  102514.0  0.474495
6750280           NaN   57854.0   57864.0   57835.0   57835.0  1.353466

In [10]:
df.iloc[-1]

Timestamp             NaN
Open         57854.000000
High         57864.000000
Low          57835.000000
Close        57835.000000
Volume           1.353466
Name: 6750280, dtype: float64